<h1>YOUR CART</h1>
<% if current_user.items.length > 0 %>
  <%= link_to 'Buy', new_purchase_path %>
<% end %>
<ul class="cart-list">
  <% current_user.items.each do |item| %>
    <li>
      <span><%= item.product.title %></span>
      <span class="item-quantity">
        <span id="minus<%= item.id %>"><%= remove_item(item.product.id) %></span>
        <span id="quantity<%= item.id %>"><%= item.quantity %></span>
        <span id="plus<%= item.id %>"><%= add_item(item.product.id) %></span>
      </span>
      <%= render 'update_quantity', id: item.id %>
    </li>
  <% end %>

</ul>
