<h1>CHOOSE ITEMS</h1>
<div class="user">
  <h2>Hello, <%= current_user.name %></h2>
  <%= link_to  "YOUR CART", edit_cart_path %>
</div>
<% @products.each do |product|%>
  <div class="product-brief" id="<%= "product-#{product.id}" %>">
    <%= render_product(product) %>
    <%= add_to_cart(product) %>
  </div>
<% end%>